
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.amap-logo{
  display: none!important;
}
.amap-copyright{
  display: none!important;
}
.amap-geolocation-con{
  z-index: 998!important;
}
